<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All People</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">

</head>
<body>
<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/form">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/match">Get Match</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_matches">Display All Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all">Display All People</a>
            </li>
        </ul>
    </div>
</nav>

<h1>All People</h1>
<p th:text="'content: ' + ${people}"></p>
<p th:text="'second  list: ' + ${allPeople}"></p>
<p th:each="person : ${allPeople}"></p>

<table class = "table table-striped">
    <tr>
        <th>Person's Name</th>
        <th>Wins</th>
        <th>loses</th>
        <th>ID</th>
        <th>Actions</th>
    </tr>
    <tr th:each="person : ${allPeople}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.victories}"></td>
        <td th:text="${person.loses}"></td>
        <td th:text="${person.ID}"></td>
        <td>
            <a th:href="@{/delete_person/{id}(id=${person.ID})}"><button>Delete</button></a>
            <a th:href="@{/edit_person/{id}(id=${person.ID})}" class="btn btn-primary"><button>Update</button></a>
        </td>
    </tr>
</table>
<a href="/form">Add new person</a>
</body>
</html>