<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Match Randomizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Editing Person</h1>
<p>Input new person </p>
<p th:text="'Person ID: ' + ${form.id}"></p>


<form action="#" th:action="@{/edit_person}" th:object="${form}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>ID:</td>
            <td><input type="text" th:field="*{id}" readonly/></td>
        </tr>
        <tr>
            <td>Victories:</td>
            <td><input type="number" th:field="*{victories}" /></td>
        </tr>
        <tr>
            <td>Loses:</td>
            <td><input type="number" th:field="*{loses}"/></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>