<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Match Randomizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<!-- Bootstrap JavaScript -->

<div th:replace="~{nav_bar}"></div>
<h1 th:text="'Name: ' + ${tournament.name}"></h1>
<p>Select Max Players</p>

<div class="alert alert-danger" role="alert">
    There are currently too many players assigned to this tournament. Please remove some before changing the max number of players to something smaller
</div>

<form action="#" th:action="@{/tournament/{id}/edit/max(id=${tournament.id})}" th:object="${form}" method="post">
    <table>
        <tr th:text="'Current Max Players: ' + ${tournament.max_players}"></tr>
        <tr>
            <td>New Max Player:</td>
            <td><select class="form-select" th:field="*{max_players}">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
            </select> </td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-primary">Submit</button></td>
            <td><button th:href="@{/tournament/{id}(id=${tournament.id})}" class="btn btn-danger">Cancel</button></td>
        </tr>
    </table>
</form>
</body>
</html>