<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Match Randomizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add People to Randomizer</h1>
<p>Input new person </p>
<form action="#" th:action="@{/form}" th:object="${form}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
        <tr>
            <td><a href="/match">Get Match</a></td>
        </tr>
        <tr>
            <td><a href="/environment">Input Environment</a></td>
        </tr>
    </table>
</form>
</body>
</html>